body {
    background-image: url(https://i.pinimg.com/736x/bc/66/72/bc6672352ffa8a40c32c14cd990819d6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
}

header *{
    display: inline;
    float: right
}

.logo {
    margin-top: 10px;
    width: 100px;
}

ul, li {
    display: inline;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    display: inline-block;
    text-decoration: none;
    margin-right: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
}

.cuerpo {
    margin-left: 550px;
    margin-right: 20px;
}

.medicos {
    width: 400px;
    height: 300px;
    margin-left: 150px;
}

h1 {
    margin-left: 35%;
    font-size: 40ox;
}